flows.json
[{"id":"b70b681d.7e6ba8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"dda07cd7.dfe5d","type":"ibmiot in","z":"b70b681d.7e6ba8","authentication":"apiKey","apiKey":"baaea9db.ffd378","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":240,"wires":[["e9526b97.8cc628","1038d758.52a4c9","3006a3f.67a875c"]]},{"id":"e9526b97.8cc628","type":"ui_gauge","z":"b70b681d.7e6ba8","name":"","group":"c56199e9.858568","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":200,"wires":[]},{"id":"1038d758.52a4c9","type":"ui_gauge","z":"b70b681d.7e6ba8","name":"","group":"c56199e9.858568","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{msg.payload.pressure}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":280,"wires":[]},{"id":"3006a3f.67a875c","type":"ui_gauge","z":"b70b681d.7e6ba8","name":"","group":"c56199e9.858568","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.temperature}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":360,"wires":[]},{"id":"baaea9db.ffd378","type":"ibmiot","z":"","name":"New API","keepalive":"60","serverName":"u9tkei.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c56199e9.858568","type":"ui_group","z":"","name":"Whether","tab":"12bbf029.c966f","order":1,"disp":true,"width":"6","collapse":false},{"id":"12bbf029.c966f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]